.apps
  background-color: #DFDFDF

.app-header
  padding: 50px 0 70px
  display: block
  margin: auto
  text-align: center
  color: #323232
  h2
    font-weight: 700

.app-section
  color: $font-dark
  margin-bottom: 70px
  display: flex
  justify-content: center
  .row
    display: flex
    justify-content: center
    padding: 20px 30px 20px
    text-align: center
  .app-image
    align-items: center
    height: 100px
    background-color: #24346C
    img
      height: auto
  .catchat
    background-color: #C1FDE1
  .app-body
    background-color: #fff
    height: 375px

.app-card
  width: 320px
  border-bottom-width: thick
