.process
  background-color: #30334C

.process-title-center
  text-align: center
  padding: 50px 0 50px
  color: #fff
  display: block
  margin: auto
  h2
    font-weight: 900

.process-category
  padding: 0 50px 20px 50px
  color: #fff
  .row
    display: flex
    justify-content: center
    margin: 0 0 25px
    text-align: center
  .process-image
    height: 100px
    align-items: center
    img
      height: auto

@media only screen and (min-width : 1200px)
  .process
    padding: 0 100px 0 100px

@media only screen and (min-width : 576px) and (max-width : 750px)
  .process
    padding: 0 80px 0 80px
