.btn-custom
  padding: 20px 40px 20px
  background-color: rgba(255,238,120,0.7)
  border-radius: 45px
  font-size: 25px
  font-weight: 100
  color: $font-dark
  &:hover
    background-color: rgba(255,238,120,1)

.btn-hire
  // border-width: 1px
  // border-color: #FEDE00
  background-color: rgba(255,238,120,0.7)
  font-weight: 300
  font-size: 20px
  color: $font-dark
  &:hover
    background-color: rgba(255,238,120,1)
    color: $font-dark

// .btn-contact
//   &:hover
//     border-color: #30334C

@media only screen and (max-width : 360px)
  .btn-custom
    width: 100%
    font-size: 20px
