.navbar-custom
  background-color: #fff

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text
  color: $font-dark
  font-family: 'Pacifico', cursive
  font-size: 30px
  &:hover
    color: $font-dark

.navbar-custom .navbar-nav .nav-link
  color: $font-dark
  font-family: 'Roboto', sans-serif
  font-weight: 400
  font-size: 16px
  padding: 0 20px 0
  &:hover
    color: $font-superdark

.navbar-collapse
  text-align: right
